<div class="item image">
        {% if form.filename is not null %}
                {{ form_row(form.filename) }}
        {% endif %}
        <i class="bi bi-trash-fill remove_item_link"></i>
</div>

